@import "../../vars";

.assignmentsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;

  .assignmentContainer {
    .assignmentHeader {
      border-radius: 5px 5px 0 0;
      background: #3498db;
      color: #fff;
      height: 100px;

      padding: 0.5rem;

      display: flex;
      flex-direction: column;

      h1 {
        font-weight: 300;
        line-height: 1.8rem;
        margin-top: auto;
      }
    }

    .assignmentContent {
      background: $lightColor;
      padding: 0.5rem;

      border-radius: 0 0 5px 5px;
    }
  }
}

.text {
  font-weight: bold;
  font-size: 1.54rem;
}

.author {
  color: #bdc3c7;
  text-align: right;
}

@media screen and (max-width: 600px) {
  .assignmentsContainer {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 800px) and (min-width: 601px) {
  .assignmentsContainer {
    grid-template-columns: 1fr 1fr;
  }
}
