@import "../vars";

.dashboard {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

aside {
    background: #f4f4f4;
    height: 100vh;

    h1 {
        padding: 1rem;
    }

    ul {
        list-style: none;
        text-decoration: none;
        margin-top: 1rem;
    }

    li {
        padding: 0.6rem 1rem;
        transition: 200ms;

        &:hover {
            background: darken($lightColor, 10%);
        }
    }



    .link {
        color: $darkColor;

    }
}

@media screen and (max-width: 800px) {
    .dashboard {
        grid-template-columns: 1fr;
    }
}