@import '_vars.scss';

.assignmentForm {
    input, select {
        width: 100%;
        padding: 1rem;

        margin: 5px 0;

        font-size: 1rem;
        font-weight: bold;

        color: $darkColor;

        border: 1px solid $primaryColor;

        &::placeholder {
            color: $darkColor;
        }
    }

    input[type=submit] {
        text-align: center;
        background: #fff;

        transition-duration: 200ms;

        &:hover {
            color: #fff;
            background: $primaryColor;
        }
    }
}
