@import '_vars.scss';

.navbar {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background: $darkColor;
    color: #fff;

    .link {
        color: #fff;
        text-decoration: none;
        transition-duration: 200ms;
    }

    .link:hover {
        color: $primaryColor;
    }

    ul li {
        padding: 0 1rem;
    }

    ul {
        align-items: center;
        display: flex;
        list-style: none;
    }

    h1 {
        color: $primaryColor;
        font-weight: bolder;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            padding: 1rem 0;
        }
    }

    .navbar ul {
        flex-direction: column-reverse;

        li {
            text-align: center;
            padding: 1rem 0;
            width: 100vw;

            &:hover {
                background: darken($darkColor, 50%);
            }

            transition-duration: 200ms;
        }
    }
}