.dashboardHeadline {
  font-size: 40px;
  color: #3498db;
  margin-bottom: 0.5%;
  margin-top: 3%;
  margin-left: 5%;
}

.dashboard {
  margin: 5vw;
  margin-top: 1vh;
  margin-bottom: 1vh;

  background-color: #3498db;
  border-radius: 5px;
  padding: 1.5%;
  color: #fff;
}

.container-headline {
  color: black;
  margin: 0;
  display: inline;
}

.dashboard h6 {
  color: #ffffff;
  font-size: 25px;
  margin: 0;
}

.container {
  padding: 1vh;
  background-color: #fff;
  border-radius: 0.3em;
}

.wrapper {
  display: grid;
  border-radius: 0.3em;
}

.wrapper-today {
  background-color: #e74c3c;
  border-radius: 0.3em;
  margin: 2.5%;
}

.wrapper-tomorrow {
  background-color: #f1c40f;
  border-radius: 0.3em;
  margin: 2.5%;
}

.wrapper-future {
  background-color: #2ecc71;
  border-radius: 0.3em;
  margin: 2.5%;
}

.wrapper h3 {
  margin-left: 4.5%;
}

.subject {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
}

.text {
  list-style-type: none;
  font-weight: 100;
  font-size: 15px;
}

.white {
  color: white;
}
