@import "../../vars";

.days {
    width: 100%;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    color: #fff;

    margin: 1rem 0;

    >div {
        padding: 1rem;
        width: 100%;
    }

    ul {
        list-style: none;
    }

    .line {
        border-bottom: 2px solid $lightColor;
        margin: 0.5rem 0;
    }
}

.today {
    background-color: $redColor;
}

.tomorrow {
    background-color: $yellowColor;
}

.future {
    background-color: $greenColor;
}

@media screen and (max-width: 1200px) {
    .days {
        grid-template-columns: 1fr;
        
    }
}