@import "../../vars";


.wrapper {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "create team team"
    "create assignments assignments"
    "stats assignments assignments";

  grid-gap: 40px;
  
  section {
    background: #f4f4f4;
    padding: 1rem;

  }

  .create {
    grid-area: create;
  }

  .team {
    grid-area: team;
  }

  .stats {
    grid-area: stats;
  }

  .assignments {
    grid-area: assignments;
  }
}

// stats


@media screen and (max-width: 800px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: "assignments""create""team""stats";
  }
}