/* .PasswordGenerator h1 {
  padding-top: 50%;
  position: relative;
  font-size: 1.5em;
  display: grid;
}
.PasswordGenerator button {
  color: #fff;
  border-radius: 0.2em;
  background: #3498db;
  width: 150px;
  height: 50px;
  font-size: 18px;
  box-shadow: 0 0 10px #3498db;
  border: 1px solid #3498db;
  cursor: pointer;
}
*/
