@import '../../vars';


.table {
    height: 100%;
    width: 100%;

    text-align: left;

    td { i { cursor: pointer;}}
    td,
    th {
        padding: 1rem;
    }

    tbody tr:nth-child(odd) {
        background: $lightColor;
    }
}