@import "../../vars";

.assignmentContainer {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  hyphens: auto;
}

.assignment {
  $radius: 6px;
  $padding-val: 1rem;

  .header {
    background-color: $primaryColor;
    border-radius: $radius $radius 0 0;

    height: 70px;

    display: flex;
    align-items: center;
    color: #fff;

    padding: $padding-val;

  }

  .body {
    background-color: $lightColor;
    border-radius: 0 0 $radius $radius;

    padding: $padding-val;

    .authorTag {
      text-align: right;
      color: grey;
      width: 100%;

      font-style: italic;
    }
  }
}